<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="C:\Users\13646\houpuMall\houpuMall-goods-provider\src\main\java\com\houpu\model" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>